body{
  font-family:"inter",sans-serif;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size:14px;
}

.info-box{
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  width: 310px;
  height: 570px;
  margin: 0;
}

.socials-box{
  padding-top: 10px;
}

.pic{
  width: 90px;
  border-radius: 40px;
  margin-top: 0;
}

.name{
  font-size: 28px;
  margin-top:15px;
  margin-bottom: 5px;
}

.london{
  color: hsl(75, 94%, 57%);
  margin-top: 8px;
}

.desc{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.socials{
  font-weight: 700;
  margin: 18px;
  background-color:hsl(0, 0%, 20%);
  border-radius: 8px;
  padding: 15px 90px 15px 90px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.7s;
}

.socials:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}